/*
 * General
 *
 */

body {
	font-size: 14px;
	font-family: Arial;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

.right {
	float: right;
}

.left {
	float: left;
}

/*
 * Formulario de subir imagen
 *
 */

form {
	width: 500px;
	margin: 0 auto;
	border: solid 1px #CCC;
}

.box {
	padding: 5px;
	margin: 5px 5px 5px 15px;
	clear: both;
}

.box label {
	float: left;
	width: 100px;
	height: 30px;
	line-height: 30px;
}

.box select {
	float: left;
	width: 176px;
	padding: 2px;
}

.box input {
	float: left;
	width: 160px;
	padding: 4px;
}

input[type="submit"] {
	margin: 0px 40px 15px 0px;
	padding: 3px;
}

img.img {
	max-width: 150px;
	max-height: 150px;
	border: solid 1px #AAA;
	float: left;
	margin: 5px 5px 5px 15px;
}

div.logo {
	text-align: center;
	padding: 10px;
}

/*
 * Página que muestra el mensaje de "subido correctamente"
 *
 */

.success {
	width: 500px;
	margin: 110px auto;
	border: solid 1px #CCC;
	text-align: center;
	padding: 15px;
	font-size: 18px;
	font-weight: bold;
}

/*
 * Página que muestra los pins
 *
 */

.show_pins {
	border: solid 1px #CCC;
	padding: 10px;
}

.show_pins .img {
	float: left;
	margin: 3px;
	padding: 5px;
	border: solid 1px #999;
	width: 210px;
	height: 210px;
	text-align: center;
}

.show_pins img {
	max-width: 200px;
	max-height: 200px;
	padding: 3px;
	border: solid 1px #CCC;
}
